.App {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  justify-content: center;
  width: 10%;
  border: 2px solid red;
}
.sidebutton {
  font-weight: 500;
  font-size: 1.5rem;
}
.main {
  width: 90%;
  border: 2px solid blue;
}